/* tablet */
@media (max-width: 992px){
     /* header */
     header{
        width: 100%;  

     }
     .navbar{
        gap: 10px;
        margin: 25px;

     }
     .cart-icon{
         height: 33px;
         margin-right: 0rem;
         margin-top: 4px;
     }
     .nav-list{
        position: absolute;
        top: 98px;
        left: 5%;
        right: 5%;
        width: 100%;
        flex-direction: column;
        background:linear-gradient(#1f7ecc, #000000d8);
        /* border: 2px solid; */
        border-top: 0px;
        border-radius:0 0 15px 15px ;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .nav-list a{
        font-size: 18px;
        color: var(text-white);
        font-weight: 800;
    }
    .menu-label{
        display: flex;
        order:2;
        cursor: pointer;
    }
    .menu-label img{
        height: 45px;
        width: 45px;
    }
    #menu-togle:checked + .nav-list{
        display: flex;
    }
    .info-pag{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .info-pag h1{
        width: 90%;
        max-width: 500px;
        min-width:unset ;
    }
    .info-pag p{
        width: 60%;
        max-width: 600px;
    }
    
    .info-img{
        display: none;
    }
    .info-tienda{
        text-align: center;
        width: 80%;
    }
    .info-productos{
        width: 80%;
    }
}
 /* phone */
@media (max-width: 818px) {
    
    .info-pag{
        width: 100%;
        justify-content: space-around;
        gap:10px;
    }
    /* main */
   main{
     width: 146%;
   }
   #info{
    justify-content: center;
    align-items: center;  
    }
    .info-a{
        justify-content: center;
        align-items: center;
        width: 45px;
        }
     .info-tienda{
        margin: 20px;
        justify-content: center;
        align-items: center;

     }
        .info-tienda p{
        font-size: 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
     } 
     .product-baño{
        width: 100%;
        flex-direction: column;
     } 
     
     .product-baño img{
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 80px;
     }
     /* footer */

     #fin{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 146%;
     }
     .fin-info{
        justify-content: center;
        align-items: center;
        gap: 25px;
     }
     .fin-info a{
        justify-content: center;
        padding: 28px;
        align-items: center;
        

     }
    }
    



