/* tablet */
@media (max-width:992px){
     /* header */
    
     header{
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        
     }

     #img{
        margin-left:5% ;
     }
    .navbar{
        gap: 10px;
        margin: 25px;
        
    }
     .cart-icon{
         height: 33px;
         margin-right: 0rem;
         margin-top: 4px;
     }
     .nav-list{
        position: absolute;
        top: 98px;
        left: 5%;
        right: 5%;
        flex-direction: column;
        background:linear-gradient(#1f7ecc, #000000d8);
        border-top: 0px;
        border-radius:0 0 15px 15px ;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .nav-list a{
        font-size: 18px;
        color: var(text-white);
        font-weight: 800;
    }
    .menu-label{
        display: flex;
        order:2;
        cursor: pointer;
    }
    .menu-label img{
        height: 45px;
        width: 45px;
    }
    #menu-togle:checked + .nav-list{
        display: flex;
    }
    .info-pag{
        text-align: center;
        justify-content: center;
    }
    .info-img{
        display: none;
    }
    .info-tienda{
        text-align: center;
        width: 80%;
    }
    .info-productos{
        width: 80%;
    }
    #fin{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
     }
     .fin-info{
        justify-content: center;
        align-items: center;
        gap: 25px;
     }
     .fin-info a{
        justify-content: center;
        padding: 28px;
        align-items: center;}
     .fin-footer{
        display: flex;
        width: 20%;
     }
     .fin-footer img{
        display: flex;
        width: 80%;
    
     }   
}
 
     /* phone */

     @media (max-width:576px){
       
         /* main */
        
        .info-tienda{
            margin: 20px;
            justify-content: center;
            align-items: center;
    
         }
            .info-tienda p{
            font-size: 20px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
         } 
         .product-baño{
            width: 100%;
            flex-direction: column;
         } 
         
         .product-baño img{
            width: 80%;
            justify-content: center;
            align-items: center;
            margin: 80px;
         }
         /* footer */
    
         #fin{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
         }
         .fin-info{
            justify-content: center;
            align-items: center;
            gap: 25px;
         }
         .fin-info a{
            justify-content: center;
            padding: 28px;
            align-items: center;
         }
         .fin-footer{
            justify-content: center;
            align-items: center;
            display: flex;
         }
         .fin-footer img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
         }
     }
     
     
     