@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');

:root{
    --primary: #282828; 
    --bg-white: #fff;
    --bg-electric: #1f7ecc;
    --nav-bg: #0f1525;
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    --fire: #ff6d00;
    --electric: #64d3ff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppin",sans-serif;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg-electric);
    position:fixed;
    max-width: 1600px;
    
}

main{
    background:linear-gradient(#4facfe,#00f2fe,#d6f9fb);
    width: 100%;
    
}

#img{
display: flex;
    height: 100px;
    border-radius: 1rem;
    cursor: pointer;  
}

.navbar,
.nav-list{
display: flex;
justify-content:center;
align-items:center ;
gap: 45px;
padding: 0 20px;
}

#menu-togle,
#cart-togle,
.menu-label{
    display: none;
}

.nav-list a{
    text-decoration-line: none;
    color: var(--bg-white);
}

.cart-icon{
    display: flex;
    width: 45px;
    cursor: pointer;
}

#info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 70px 0;
    width: 100%;

}
.info-pag{
    color: #f9f9ff;
    display: flex;
    margin: 30px 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 85px;
    gap: 8px;
}
.info-pag h1{
 font-weight: 550;
 font-size: 4rem;
 -webkit-text-stroke-width:3px ;
 /* -webkit-text-stroke-color: #1f7ecc; */

}

.info-pag h3{
    font-size: 1.8rem;
    color: #035599;
}

.info-pag p{
    justify-content: center;
    width: 68%;
    align-items: center;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    margin: 35px 0;
    color:rgb(235, 235, 241) ;
    padding: 12px;
}
.info-pag span{
    color: #035599;
    text-align: center;
}

.info-a {
    display: flex;
    padding: 15px;
    gap: 35px;
    justify-content: space-around;
    align-items: center;
}

.info-a :first-child{
padding: 6px;
border-radius: 12px;
text-decoration-line: none;
font-size: 18px;
font-weight: 600;
color: #faf8f8;
background-color: #5636e5;
}
.info-a :last-child{
    padding: 6px;
        border-radius: 12px;
        text-decoration-line: none;
        font-size: 18px;
        font-weight: 600;
        color: #0a0a0a;
        background-color: #f1db0e;

}


.info-img{
    display: flex;
    width: 25%;
    margin-top: 80px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: #0a0a0a;

}

#tienda{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-tienda{
    color: #035599;
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px; 
}

.info-tienda p{
    justify-content:flex-start;
    align-items: flex-start;
    /* font-weight: 600; */
    font-size: 16px;
    display: flex;    
}
#productos{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 40px;
    gap: 12px;
}

.info-productos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.info-productos h3{
      font-size: 3rem;
      color:transparent;
      background: linear-gradient(#0483f3,#0a0a0a);
      background-clip:text ;
      -webkit-background-clip: text;
      align-items: center;
      text-align: center;
    }
.product-baño{
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
}
.product-baño img{
    width: 25%;
    border: 3px;
    border-color: #0a0a0a;
    border-radius: 12px;
    margin: 20px 12px;
    cursor: pointer;
}

#fin{
    display: flex;
     justify-content: center;
    align-items: center;
     gap: 12px;
     width: 100%;
     max-width: 1600px;
     background-color:#d6f9fb;
    }
.fin-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    
}  
.fin-datos{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.fin-datos a{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15px;
    padding: 8px;
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 600;

}


.fin-info h3{
    font-size: 3rem;
        color: #0483f3;
        align-items: center;
        text-align: center;
        margin: 20px 20px;
}

.fin-info img{
    width: 40px;
    border-radius: 12px;
}