@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');

:root{
    --primary: #282828; 
    --bg-white: #fff;
    --bg-electric: #37c0f1;
    --nav-bg: #0f1525;
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    --fire: #ff6d00;
    --electric: #64d3ff;

}

*{
    margin: 0;
    padding: 0;
    box size:border-box;
    list-style: none;
}

body{
   background:linear-gradient(#161e27,#ca1a1a);
   height: 100vh;
   width: 100%;
    font-family: "poppin",sans-serif;
}

#img{
    display: flex;
    height: 50px;
    border-radius: 1rem;
    cursor: pointer;  
}

.navbar,
.nav-list{
display: flex;
justify-content:space-between;
align-items: center;
background-color:var(--nav-bg);
gap: 20px;
padding: 0 20px;
position: sticky;

}

.nav-list a{
    text-decoration-line: none;
    color: var(--text-gray);
}
    




